<div class="container my-4">
  <h3>Combat Info Generator</h3>

  <form [formGroup]="combatForm" class="row g-3">
    <div class="col-md-12">
      <label for="name-input" class="form-label">Name</label>
      <input type="text" class="form-control" id="name-input" formControlName="name">
    </div>
    <div class="col-md-6">
      <label for="health-input" class="form-label">Health</label>
      <input type="number" class="form-control" id="health-input" formControlName="health">
    </div>
    <div class="col-md-6">
      <label for="poise-input" class="form-label">Poise</label>
      <input type="number" class="form-control" id="poise-input" formControlName="poise">
    </div>
    <!--Absorptions-->
    <fieldset formGroupName="absorptions" class="row mt-3">
      <h4>Absorptions</h4>
      <!--Physical-->
      <div class="col-md-6" formGroupName="physical">
        <h5>Physical</h5>
        <div class="col-md-12">
          <label for="physical-standard-input" class="form-label">Phy (Standard)</label>
          <input type="number" class="form-control" id="physical-standard-input" formControlName="standard">
        </div>
        <div class="col-md-12">
          <label for="physical-slash-input" class="form-label">Phy (Slash)</label>
          <input type="number" class="form-control" id="physical-slash-input" formControlName="slash">
        </div>
        <div class="col-md-12">
          <label for="physical-strike-input" class="form-label">Phy (Strike)</label>
          <input type="number" class="form-control" id="physical-strike-input" formControlName="strike">
        </div>
        <div class="col-md-12">
          <label for="physical-pierce-input" class="form-label">Phy (Pierce)</label>
          <input type="number" class="form-control" id="physical-pierce-input" formControlName="pierce">
        </div>
      </div>
      <!--Magical-->
      <div class="col-md-6" formGroupName="magic">
        <h4>Magical</h4>
        <div class="col-md-12">
          <label for="magic-magic-input" class="form-label">Magic</label>
          <input type="number" class="form-control" id="magic-magic-input" formControlName="magic">
        </div>
        <div class="col-md-12">
          <label for="magic-fire-input" class="form-label">Fire</label>
          <input type="number" class="form-control" id="magic-fire-input" formControlName="fire">
        </div>
        <div class="col-md-12">
          <label for="magic-lightning-input" class="form-label">Lightning</label>
          <input type="number" class="form-control" id="magic-lightning-input" formControlName="lightning">
        </div>
        <div class="col-md-12">
          <label for="magic-holy-input" class="form-label">Holy</label>
          <input type="number" class="form-control" id="magic-holy-input" formControlName="holy">
        </div>
      </div>
    </fieldset>
    <!--Resistances-->
    <fieldset formGroupName="resistances" class="row mt-3">
      <h4>Resistances</h4>
      <div class="col-md-6">
        <label for="poison-input" class="form-label">Poison</label>
        <div class="input-group">
          <input type="number" class="form-control" id="poison-input" formControlName="poison">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="poisonImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="scarlet-rot-input" class="form-label">Scarlet Rot</label>
        <div class="input-group">
          <input type="number" class="form-control" id="scarlet-rot-input" formControlName="scarletRot">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="scarletRotImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="hemorrhage-input" class="form-label">Hemorrhage</label>
        <div class="input-group">
          <input type="number" class="form-control" id="hemorrhage-input" formControlName="hemorrhage">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="hemorrhageImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="frostbite-input" class="form-label">Frostbite</label>
        <div class="input-group">
          <input type="number" class="form-control" id="frostbite-input" formControlName="frostbite">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="frostbiteImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="sleep-input" class="form-label">Sleep</label>
        <div class="input-group">
          <input type="number" class="form-control" id="sleep-input" formControlName="sleep">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="sleepImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="madness-input" class="form-label">Madness</label>
        <div class="input-group">
          <input type="number" class="form-control" id="madness-input" formControlName="madness">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="madnessImmune">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="death-blight-input" class="form-label">Death Blight</label>
        <div class="input-group">
          <input type="number" class="form-control" id="death-blight-input" formControlName="deathBlight">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="deathBlightImmune">
          </div>
        </div>
      </div>
    </fieldset>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="renderTemplate()">Output</button>
    </div>
  </form>

  <pre *ngIf="display"><code>
    {{display}}
  </code></pre>
</div>
