<div class="container my-4">
  <h3>Combat Info Generator</h3>

  <form [formGroup]="combatForm" class="row g-3">
    <div class="col-md-12">
      <label for="name-input" class="form-label">Name</label>
      <input type="text" class="form-control" id="name-input" formControlName="name">
    </div>
    <div class="col-md-12">
      <label for="poise-input" class="form-label">Poise</label>
      <input type="number" class="form-control" id="poise-input" formControlName="poise">
    </div>
    <!--Absorptions-->
    <fieldset formGroupName="absorptions" class="row mt-3">
      <h4>Absorptions</h4>
      <!--Physical-->
      <div class="col-md-6" formGroupName="physical">
        <h5>Physical</h5>
        <div class="col-md-12">
          <label for="physical-standard-input" class="form-label">Phy (Standard)</label>
          <input type="number" class="form-control" id="physical-standard-input" formControlName="standard">
        </div>
        <div class="col-md-12">
          <label for="physical-slash-input" class="form-label">Phy (Slash)</label>
          <input type="number" class="form-control" id="physical-slash-input" formControlName="slash">
        </div>
        <div class="col-md-12">
          <label for="physical-strike-input" class="form-label">Phy (Strike)</label>
          <input type="number" class="form-control" id="physical-strike-input" formControlName="strike">
        </div>
        <div class="col-md-12">
          <label for="physical-pierce-input" class="form-label">Phy (Pierce)</label>
          <input type="number" class="form-control" id="physical-pierce-input" formControlName="pierce">
        </div>
      </div>
      <!--Magical-->
      <div class="col-md-6" formGroupName="magic">
        <h4>Magical</h4>
        <div class="col-md-12">
          <label for="magic-magic-input" class="form-label">Magic</label>
          <input type="number" class="form-control" id="magic-magic-input" formControlName="magic">
        </div>
        <div class="col-md-12">
          <label for="magic-fire-input" class="form-label">Fire</label>
          <input type="number" class="form-control" id="magic-fire-input" formControlName="fire">
        </div>
        <div class="col-md-12">
          <label for="magic-lightning-input" class="form-label">Lightning</label>
          <input type="number" class="form-control" id="magic-lightning-input" formControlName="lightning">
        </div>
        <div class="col-md-12">
          <label for="magic-holy-input" class="form-label">Holy</label>
          <input type="number" class="form-control" id="magic-holy-input" formControlName="holy">
        </div>
      </div>
    </fieldset>
    <!--Resistances-->
    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">NG</th>
          <th scope="col">NG+</th>
          <th scope="col">NG+2</th>
          <th scope="col">NG+3</th>
          <th scope="col">NG+4</th>
          <th scope="col">NG+5</th>
          <th scope="col">NG+6</th>
          <th scope="col">NG+7</th>
        </tr>
      </thead>
      <tbody>
        <tr formControlName="health" new-game-row-input name="HP"></tr>
        <tr formControlName="defense" new-game-row-input name="Defense"></tr>
        <tr formControlName="runes" new-game-row-input name="Runes"></tr>
        <tr><th colspan="8">Resistances</th></tr>
        <ng-container formGroupName="resistances">
          <tr resistance-input formControlName="poison" name="Poison"></tr>
          <tr resistance-input formControlName="scarletRot" name="Scarlet Rot"></tr>
          <tr resistance-input formControlName="hemorrhage" name="Hemorrhage"></tr>
          <tr resistance-input formControlName="frostbite" name="Frostbite"></tr>
          <tr resistance-input formControlName="sleep" name="Sleep"></tr>
          <tr resistance-input formControlName="madness" name="Madness"></tr>
        </ng-container>
      </tbody>
    </table>
  </form>

  <div class="copy row g-3 mt-1">
    <div class="col-2">
      <button type="submit" class="btn btn-primary" (click)="template.copyFormatted()">Copy Formatted</button>
    </div>
  </div>

  <app-template [stats]="combatForm.value"></app-template>
</div>
