<div class="container my-4">
  <h3>Combat Info Generator</h3>

  <form [formGroup]="combatForm" class="row g-3">
    <div class="col-md-12">
      <label for="name-input" class="form-label">Name</label>
      <input type="text" class="form-control" id="name-input"
        formControlName="name" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEnemyInfo"
          (optionSelected)="enemyInfoSelected($event)">
        <mat-option *ngFor="let option of filteredNames | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-md-12">
      <label for="stance-input" class="form-label">Stance</label>
      <input type="number" class="form-control" id="Stance-input" formControlName="stance">
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" formControlName="parriable">
          </div>
          <span class="input-group-text">Parries Per Crit</span>
          <input
            type="number" class="form-control" formControlName="parriesPerCrit"
            [attr.disabled]="combatForm.value.parriable ? null : ''">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-text">
            <input
              id="critable" class="form-check-input mt-0" type="checkbox"
              formControlName="critable">
          </div>
          <label for="critable" class="input-group-text">Can Be Critical Hit</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-text">
            <input
              id="optional" class="form-check-input mt-0" type="checkbox"
              formControlName="optional">
          </div>
          <label for="optional" class="input-group-text">Optional</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-text">
            <input
              id="multiplayerAllowed" class="form-check-input mt-0" type="checkbox"
              formControlName="multiplayerAllowed">
          </div>
          <label for="multiplayerAllowed" class="input-group-text">Multiplayer</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-text">
            <input
              id="summonsAllowed" class="form-check-input mt-0" type="checkbox"
              formControlName="summonsAllowed">
          </div>
          <label for="summonsAllowed" class="input-group-text">Summons</label>
        </div>
      </div>
    </div>

    <!-- Damage Types -->
    <fieldset formGroupName="inflictedDamageTypes" class="row mt-3">
      <h4>Damage Inflicted</h4>
      <ng-container *ngFor="let type of damageTypes">
        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-text">
              <input
                id="{{type}}Damage" class="form-check-input mt-0" type="checkbox"
                formControlName="{{type}}">
            </div>
            <label for="{{type}}Damage" class="input-group-text">
              {{type | decamel | titlecase}}
            </label>
          </div>
        </div>
      </ng-container>
    </fieldset>

    <!-- Damage Types -->
    <fieldset formGroupName="inflictedStatusTypes" class="row mt-3">
      <h4>Status Inflicted</h4>
      <ng-container *ngFor="let type of inflictedStatusTypes">
        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-text">
              <input
                id="{{type}}Status" class="form-check-input mt-0" type="checkbox"
                formControlName="{{type}}">
            </div>
            <label for="{{type}}Status" class="input-group-text">
              {{type | decamel | titlecase}}
            </label>
          </div>
        </div>
      </ng-container>
    </fieldset>

    <!--Absorptions-->
    <fieldset formGroupName="absorptions" class="row mt-3">
      <h4>Absorptions</h4>
      <div class="col-md-6">
        <ng-container *ngFor="let type of damageTypes | slice:0:4">
          <div class="col-md-12">
            <label for="{{type}}-inflicted-input" class="form-label">
              {{type | titlecase}}
            </label>
            <input
              type="number" class="form-control" id="{{type}}-input"
              formControlName="{{type}}">
          </div>
        </ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngFor="let type of damageTypes | slice:4:8">
          <div class="col-md-12">
            <label for="{{type}}-inflicted-input" class="form-label">
              {{type | titlecase}}
            </label>
            <input
              type="number" class="form-control" id="{{type}}-input"
              formControlName="{{type}}">
          </div>
        </ng-container>
      </div>
    </fieldset>
    <!--Resistances-->
    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">NG</th>
          <th scope="col">NG+</th>
          <th scope="col">NG+2</th>
          <th scope="col">NG+3</th>
          <th scope="col">NG+4</th>
          <th scope="col">NG+5</th>
          <th scope="col">NG+6</th>
          <th scope="col">NG+7</th>
        </tr>
      </thead>
      <tbody>
        <tr formControlName="health" new-game-row-input name="HP"></tr>
        <tr formControlName="defense" new-game-row-input name="Defense"></tr>
        <tr formControlName="runes" new-game-row-input name="Runes"></tr>
        <tr><th colspan="8">Resistances</th></tr>
        <ng-container formGroupName="resistances">
          <ng-container *ngFor="let type of resistedStatusTypes">
            <tr
              resistance-input formControlName="{{type}}"
              name="{{type | decamel | titlecase}}">
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </form>

  <form [formGroup]="displayForm" class="row g-3 mt-1">
    <div class="col-md-2 form-check">
      <input class="form-check-input" type="radio" id="display-full" formControlName="display" value="full">
      <label class="form-check-label" for="display-full">Full Information</label>
    </div>
    <div class="col-md-3 form-check">
      <input class="form-check-input" type="radio" id="display-cross-enemy" formControlName="display" value="cross-enemy">
      <label class="form-check-label" for="display-cross-enemy">Cross-Enemy Information</label>
    </div>
    <div class="col-md-3 form-check">
      <input class="form-check-input" type="radio" id="display-enemy-specific" formControlName="display" value="enemy-specific">
      <label class="form-check-label" for="display-enemy-specific">Enemy-Specific Information</label>
    </div>
  </form>

  <div class="copy row g-3 mt-1">
    <div class="col-2">
      <button type="submit" class="btn btn-primary" (click)="template.copyFormatted()">Copy Formatted</button>
    </div>

    <div class="col-2">
      <button type="submit" class="btn btn-secondary" (click)="template.copyHtml()">Copy HTML</button>
    </div>
  </div>

  <app-template [stats]="combatForm.value" [display]="displayForm.value.display"></app-template>
</div>
