<div #wrapper> 

<div class="copied-notification" *ngIf="copied">
  Copied!
</div>

<ng-container *ngIf="display == 'enemy-specific'">
  <hr style="clear: both">
  <div class="infobox">
    <div class="table-responsive">
      <table class="wiki_table">
        <tbody>
          <tr>
            <th colspan="2">
              <h2>{{enemyName}}</h2>
              <h4>__location__</h4>
            </th>
          </tr>
          <tr>
            <td style="text-align: center" attr.data-mce-style="text-align: center" colspan="2">
              __image__
            </td>
          </tr>
          <tr>
            <td>Drops</td>
            <td>
              <img
                title="Runes Icon"
                alt="Runes Icon"
                src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
                attr.data-mce-src="/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
              ><!--
              --><ng-container *ngIf="stats.runes[0]; else other"><!--
                -->{{stats.runes[0] | number}}
              </ng-container>
              <ng-template #other>???</ng-template>
            </td>
          </tr>
          <tr>
            <td>HP</td>
            <td>{{stats.health[0] | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<h3 class="bonfire">{{enemyName}} Combat information</h3>
<ul>
  <li *ngIf="showEnemySpecific">
    Health:
    <span style="color: #ffffff;" data-mce-style="color: #ffffff;">
      <strong>{{stats.health[0] | number}}</strong>
      HP
    </span>
  </li>
  <li *ngIf="showEnemySpecific && stats.defense[0]">
    Defense:
    <span style="color: #ffffff;" data-mce-style="color: #ffffff;">
      <strong>{{stats.defense[0]}}</strong>
    </span>
  </li>
  <li *ngIf="showCrossEnemy">
    <a href="https://eldenring.wiki.fextralife.com/Stance">Stance</a>:
    <span style="color: #ffffff;" data-mce-style="color: #ffffff;">
      <strong>{{stats.stance}}</strong>
    </span>
  </li>
  <li *ngIf="showCrossEnemy">
    <a href="https://eldenring.wiki.fextralife.com/Parrying">Parryable</a>:
    <ng-container *ngIf="stats.parriable; else other">
      Yes<ng-container *ngIf="stats.parriesPerCrit !== 1">,
        but {{stats.parriesPerCrit}} parries are required per
        <a href="https://eldenring.wiki.fextralife.com/Parrying">stance break</a>
      </ng-container>
    </ng-container>
    <ng-template #other>No</ng-template>
  </li>
  <li *ngIf="showCrossEnemy">
    <ng-container *ngIf="stats.critable; else other">
      Is vulnerable to a
      <a href="https://eldenring.wiki.fextralife.com/Critical+Damage">critical hit</a>
      after being
      <a href="https://eldenring.wiki.fextralife.com/Stance">stance broken</a>
      <ng-container *ngIf="stats.parriable"> or parried</ng-container>
    </ng-container>
    <ng-template #other>
      Only staggers after being
      <a href="https://eldenring.wiki.fextralife.com/Stance">stance broken</a>
      <ng-container *ngIf="stats.parriable"> or parried</ng-container>
      and is <strong>not</strong> vulnerable to a
      <a href="https://eldenring.wiki.fextralife.com/Critical+Damage">critical hit</a>
    </ng-template>
  </li>
  <li *ngIf="showEnemySpecific && stats.runes[0]">
    Drops
    <img
      title="Runes Icon"
      alt="Runes Icon"
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
      attr.data-mce-src="/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
    >{{stats.runes[0] | number}}
  </li>
</ul>

<div class="row" *ngIf="display === 'full'">
   <div class="col-sm-6">
     <ng-container *ngTemplateOutlet="negations"></ng-container>
   </div>
   <div class="col-sm-6" *ngIf="showEnemySpecific">
     <ng-container *ngTemplateOutlet="resistances"></ng-container>
   </div>
</div>
<ng-container *ngIf="display === 'cross-enemy'">
  <ng-container *ngTemplateOutlet="negations"></ng-container>
</ng-container>
<ng-container *ngIf="display === 'enemy-specific'">
  <ng-container *ngTemplateOutlet="resistances"></ng-container>
</ng-container>

<div>
  <details open *ngIf="showEnemySpecific && highestNewGame > 0">
    <summary class="expandable">
      NG+ and Beyond <small>(click to reveal)</small>
    </summary>
    <div class="table-responsive">
      <table class="wiki_table">
        <thead>
          <tr>
            <th scope="col" style="min-width: 9em"></th>
            <th scope="col">NG</th>
            <ng-container *ngFor="let _ of [].constructor(highestNewGame); let i = index">
              <th scope="col">NG+{{i > 0 ? i + 1 : ''}}</th>
            </ng-container>
        </thead>
        <tbody>
          <ng-container *ngTemplateOutlet="
            newGameRow;
            context: {name: 'HP', data: stats.health, commas: true}
          "></ng-container>
          <ng-container *ngIf="hasNewGameValues(this.stats.defense)">
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {name: 'Defense', data: stats.defense}
            "></ng-container>
          </ng-container>
          <ng-container *ngIf="hasNewGameValues(this.stats.runes)">
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Runes',
                data: stats.runes,
                link: '/Runes',
                icon: '/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png',
                commas: true
              }
            "></ng-container>
          </ng-container>
          <ng-container *ngIf="hasNewGameResistances">
            <tr><th colspan="9"><h4>Resistances</h4></th></tr>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Poison',
                data: stats.resistances.poison,
                link: '/Poison',
                icon: '/file/Elden-Ring/poison_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Scarlet Rot',
                data: stats.resistances.scarletRot,
                link: '/Scarlet+Rot',
                icon: '/file/Elden-Ring/scarlet_rot_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Hemorrhage',
                data: stats.resistances.hemorrhage,
                link: '/Hemorrhage',
                icon: '/file/Elden-Ring/hemorrhage_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Frostbite',
                data: stats.resistances.frostbite,
                link: '/Frostbite',
                icon: '/file/Elden-Ring/frostbite_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Sleep',
                data: stats.resistances.sleep,
                link: '/Sleep',
                icon: '/file/Elden-Ring/sleep_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
            <ng-container *ngTemplateOutlet="
              newGameRow;
              context: {
                name: 'Madness',
                data: stats.resistances.madness,
                link: '/Madness',
                icon: '/file/Elden-Ring/madness_status_effect_elden_ring_wiki_guide_25px.png'
              }
            "></ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </details>
</div>
</div>

<ng-template #negations>
  <h4 class="special">Negations (or Absorptions)</h4>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <ng-container *ngTemplateOutlet="
          physicalNegation;
          context: {
            type: 'Standard',
            value: stats.absorptions.physical.standard
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          physicalNegation;
          context: {
            type: 'Slash',
            value: stats.absorptions.physical.slash
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          physicalNegation;
          context: {
            type: 'Strike',
            value: stats.absorptions.physical.strike
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          physicalNegation;
          context: {
            type: 'Pierce',
            value: stats.absorptions.physical.pierce
          }
        "></ng-container>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <ng-container *ngTemplateOutlet="
          elementalNegation;
          context: {
            type: 'Magic',
            value: stats.absorptions.magic.magic,
            color: '#3fbddd',
            icon: '/file/Elden-Ring/magic-upgrades-elden-ring-wiki-guide-30.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          elementalNegation;
          context: {
            type: 'Fire',
            value: stats.absorptions.magic.fire,
            color: '#cc9d57',
            icon: '/file/Elden-Ring/fire-upgrades-elden-ring-wiki-guide-30.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          elementalNegation;
          context: {
            type: 'Lightning',
            value: stats.absorptions.magic.lightning,
            color: '#d5d559',
            icon: '/file/Elden-Ring/lightning-upgrades-elden-ring-wiki-guide-30.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          elementalNegation;
          context: {
            type: 'Holy',
            value: stats.absorptions.magic.holy,
            color: '#ffcc99',
            icon: '/file/Elden-Ring/holy_upgrade_affinity_elden_ring_wiki_guide_60px.jpg'
          }
        "></ng-container>
      </ul>
    </div>
  </div>
  <p>The negation numbers are the % of your damage that gets blocked. For example, if a negation is 60, 40% of that damage by that type will go through and 60% will be negated. Bigger number = less damage. A negation of 100 means no damage goes through, and a negation of -100 mean the enemy takes 2x damage from that source. 0 means damage goes pretty much as is.</p>
</ng-template>

<ng-template #resistances>
  <h4 class="special">Resistances</h4>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Poison',
            value: stats.resistances.poison,
            icon: '/file/Elden-Ring/poison_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Scarlet Rot',
            value: stats.resistances.scarletRot,
            icon: '/file/Elden-Ring/scarlet_rot_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Hemorrhage',
            value: stats.resistances.hemorrhage,
            icon: '/file/Elden-Ring/hemorrhage_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Frostbite',
            value: stats.resistances.frostbite,
            icon: '/file/Elden-Ring/frostbite_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Sleep',
            value: stats.resistances.sleep,
            icon: '/file/Elden-Ring/sleep_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
        <ng-container *ngTemplateOutlet="
          resistance;
          context: {
            type: 'Madness',
            value: stats.resistances.madness,
            icon: '/file/Elden-Ring/madness_status_effect_elden_ring_wiki_guide_25px.png'
          }
        "></ng-container>
      </ul>
    </div>
  </div>
  <p>
    The resistance numbers are the buildup amount to trigger it. For
    example, if a resistance is 100 you must deal 100 points of the given
    buildup to trigger it. Note that these go down over time, and increase
    each time the effect procs.

    <ng-container *ngIf="hasMultipleResistanceProcs">
      The values after the "/"s indicate the increased resistances after
      each successive proc.
    </ng-container>
  </p>
</ng-template>

<ng-template #physicalNegation let-type="type" let-value="value">
  <li>
    <a class="wiki_link" title="Elden Ring {{type}} Damage"
        href="https://eldenring.wiki.fextralife.com/{{type}}+Damage"
        attr.data-mce-href="/{{type}}+Damage">
      Phy ({{type}})</a>:
    <strong>{{value}}</strong>
  </li>
</ng-template>

<ng-template #elementalNegation
    let-type="type" let-value="value" let-color="color" let-icon="icon">
  <li>
    <a class="wiki_link" title="Elden Ring {{type}} Damage"
        style="color: {{color}};" attr.data-mce-style="color: {{color}};"
        href="https://eldenring.wiki.fextralife.com/{{type}}+Damage"
        attr.data-mce-href="/{{type}}+Damage">
      <img title="{{type}} Icon" alt="{{type}} Icon" width="20" height="20"
          src="https://eldenring.wiki.fextralife.com{{icon}}"
          attr.data-mce-src="{{icon}}"
      >{{type}}</a>:
    <strong>{{value}}</strong>
  </li>
</ng-template>

<ng-template #resistance let-type="type" let-value="value" let-immune="immune" let-icon="icon">
  <li>
    <a class="wiki_link" title="{{type}}" attr.data-mce-href="/{{type}}"
        href="https://eldenring.wiki.fextralife.com/{{type}}">
      <img title="{{type}} Icon" alt="{{type}} Icon" width="20"
          src="https://eldenring.wiki.fextralife.com{{icon}}"
          attr.data-mce-src="{{icon}}"
      >{{type}}</a>:
    <ng-container *ngIf="value !== null; else other">
      <ng-container *ngTemplateOutlet="
        resistanceNumbers;
        context: {numbers: value[0], strong: true}
      ">
      </ng-container>
    </ng-container>
    <ng-template #other><strong>Immune</strong></ng-template>
  </li>
</ng-template>

<ng-template #newGameRow
    let-name="name" let-data="data" let-link="link" let-icon="icon" let-commas="commas">
  <tr>
    <th scope="row">
      <ng-container *ngIf="link; else nameTemplate">
        <a href="https://eldenring.wiki.fextralife.com{{link}}"
            attr.data-mce-href="{{link}}">
          <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>
        </a>
      </ng-container>
      <ng-template #nameTemplate>
        <img title="{{name}} Icon" alt="{{name}} Icon" width="20" *ngIf="icon"
            src="https://eldenring.wiki.fextralife.com{{icon}}"
            attr.data-mce-src="{{icon}}"
        >{{name}}
      </ng-template>
    </th>

    <ng-container *ngIf="data !== null; else other">
      <ng-container *ngFor='let i of [0, 1, 2, 3, 4, 5, 6, 7]'>
        <td *ngIf="i <= highestNewGame" [style]="
          isArray(data[i]) && data[i].length > 2
            ? data[i].length == 3
              ? 'font-size: 90%'
              : 'font-size: 80%'
            : null
        ">
          <ng-container *ngIf="isArray(data[i]); else other">
            <ng-container *ngTemplateOutlet="
              resistanceNumbers;
              context: {numbers: data[i], strong: false}
            "></ng-container>
          </ng-container>
          <ng-template #other>{{commas ? (data[i] | number) : data[i]}}</ng-template>
        </td>
      </ng-container>
    </ng-container>
    <ng-template #other>
      <td colspan="8" style="text-align: center;"><strong>Immune</strong></td>
    </ng-template>
  </tr>
</ng-template>

<ng-template #resistanceNumbers let-numbers="numbers" let-strong="strong">
  <ng-container *ngFor="let number of numbers; index as i">
    <ng-container *ngIf="i !== 0">&nbsp;/ </ng-container>
    <ng-container *ngIf="number !== null; else other">
      <ng-container *ngIf="strong; else normal">
        <strong>{{number}}</strong>
      </ng-container>
      <ng-template #normal>{{number}}</ng-template>
    </ng-container>
    <ng-template #other>
      ???
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #immune><strong>Immune</strong></ng-template>
